.changePassword {
  background: white;

  .inputForPassword {
    display: flex;
    width: 104%;


    .fa {
      font-weight: 900;
      padding: 10px 0;
      position: relative;
      right: 27px;
    }
  }

  .roles ul {
    font-size: 15px;
  }

  &__left {
    flex: 2;
    padding: 30px 100px;
    padding-top: 80px;


    background: rgba(143, 218, 232, 0.25);

    &-title {
      position: relative;
      font-size: 32px;

      font-family: 'Rubik';

      font-weight: 500;
      font-size: 48px;
      line-height: 50px;

      font-style: normal;

      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 100px;
        height: 7px;
        left: 0;
        bottom: -15px;
        background: #f6bb4b;
        border-bottom-right-radius: 10px;
      }
    }

    &-list {
      width: 100%;
      margin: 30px 0;
      margin-left: 30px;
      font-size: 14px;
      line-height: 24px;
    }

    &-list>* {
      margin-bottom: 5px;
    }

    img {
      margin-left: 30px;
    }
  }

}