

.studentForm{
    background-color: white;
   width:45vw;
    padding:2rem;
    margin:4rem auto;
   
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
border-radius: 4px;

    &__title{
        font-size: 20px;
    }
   
}

.heading{
    text-align: center;
    font-size: 20px;
}